body {
    font-family: Arial;
    background-color: #C7D0CC;
}

div {
    border: 1px solid black;

    background-color: black;
    color: aliceblue;
    border-radius: 10px;
}

button:hover {
    transform: scale(1.3);
    transition: 0.1s linear;
}

button:focus {
    transform: scale(1.1);
    transition: 0.1s linear;
}

a {
    text-decoration: none;
    color: black;

}

a:hover {
    position: absolute;
    transform: translateX(30px);
    transition: all 0.2s linear;
}

.iphone15 img {
    width: 200px;
    height: 220px;
}

.pocox3pro img {
    width: 200px;
    height: 220px;
}

.samsunga5 img{
    width: 300px;
    height: 320px;
}

.samsungs21fe img {
    width: 220px;
    height: 240px;
}

.oneplus img {
    width: 220px;
    height: 240px;
}

.infinix img {
    width: 220px;
    height: 240px;
}

.nokia img {
    width: 250px;
    height: 260px;
}
